---
import { SITE_DESCRIPTION, SITE_NAME } from "../utils/constants.ts";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Sidebar from "../components/Sidebar.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

const alltasks: CollectionEntry<"tasks">[] = await getCollection("tasks");

const { title } = Astro.props;

interface Props {
  title?: string;
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.js"
      integrity="sha512-BJ/5sR2hFxQTKin/55JQCcMTObShDBAmVjL/3NR/MVcrhyOazJjAgvROem03+HYyGw16SVdSfoWCFGr9syxAKA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      is:inline></script>
    <title>{title != null ? `${title} - ` : ""} {SITE_NAME}</title>
  </head>
  <body>
    <Navbar />
    <div class="flex gap-5 relative">
      <div class="w-[20%]">
        <Sidebar tasks={alltasks} />
      </div>
      <div class="mt-20 overflow-y-auto">
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>
